a, input, textarea, button, div {
	outline: 0;
}

#lucaslogo {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAAZ5JREFUOI2Nk01O21AUhb/rBkFEXoSEysALSMd2GLfJAtJ50zHxBrKMeN6UMYE5CyALYAMvQ6xGake0QVDJUW8H7/nZUAX1eGLdv3fu0blSpIkqHgoICBCC8iLuQ1V5VAUEEKkToaqKa9UsaJ2i1ShDUQR4E8ccjkaA8Gs+R1HPQKhnu6lRYK8aHhVjaA+GdCeTMFT8A+4LPInCXg3KW2u5n80ar7mGsGpDnlZNrLnZv+hmGZ3xZwAeFhd0J5nToCIkO1vhcPSR7iTj4XJBaVd0xmMA7vNZU8TdOBgMKFersNafzYbjPKe0q1rE1xAZszsnSFDhaDrl7ddzImPYe9cDYL9/yuP1NXu9HkfTqVsny+oJRZroXZpokSb6+/ZWVVV/nJ1pE98+vNef8y+6Xa9VVXWzuAh1cpcm+pqAFVpxzHa9BqA9GHKc53wff/o/ESNjOLm8AqC0lv1+n6flktJapEiTZwaobkPDjzOZdAzt4ZBWHFNay+PyxpmqSFNVfykirvHZUXkEu6n6vL8F53UJThIRVP0gXhpMGwFH8S/Dc7YLcB6VwQAAAABJRU5ErkJggg==') !important;
	width: 16px !important;
	height: 16px !important;
	display: inline-block;
	vertical-align: text-top;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	margin-right: 3px;
	margin-top: 3px;
}
#lucaslogo:hover {
	filter: none;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}
.ucode {
	font-family: Consolas, "Lucida Console", "OCR A Extended", Terminal, "Andale Mono", "Courier New", Courier, Fixed, monospace;
}

.aboutinfo {
	font-family: Consolas, "Lucida Console", "OCR A Extended", Terminal, "Andale Mono", "Courier New", Courier, Fixed, monospace;
}

.hidebt {
	display: none;
}

@media only screen and (max-height: 635px) and (max-width: 756px) {
	#mostusedbuttons, #mufunctions {
		display: none;
	}
}

@media (min-height: 635px) and (min-width: 980px) {/*1024x768*/
	.ucode {
		height: 450px;
	}

	.freturn {
		height: 434px;
		max-height: 434px;
	}
	.hero-unit {
		height: 424px;
	}
	html {
		overflow: hidden;
	}

	.ucode_web {
		height: 380px;
	}
	.freturn_web {
		height: 364px;
		max-height: 364px;
	}
	.hero-unit_web {
		height: 354px;
		overflow: hidden;
	}
}

@media only screen and (min-height: 910px) {/*HD*/
	.ucode {
		height: 680px;
	}
	.freturn {
		height: 664px;
		max-height: 664px;
	}
	.hero-unit {
		height: 654px;
	}
	html {
		overflow: hidden;
	}

	.ucode_web {
		height: 610px;
	}
	.freturn_web {
		height: 594px;
		max-height: 594px;
	}
	.hero-unit_web {
		height: 594px;
	}
}

.textoback {
	background-image: url('../images/png/textofundo.png') !important;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
}

#sound {
	width: 1px;
	height: 1px;
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
.htmlrender {
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	text-wrap: unrestricted;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
.popover-content {
	font-size: 14px;
	line-height: 15px;
}
.popover-content h1 {
	font-size: 17px !important;
	line-height: 16px !important;
}
.popover-title {
	font-size: 14px;
	line-height: 14px;
}

#imgB64Alert {
	display: none;
}

#generateImage64 {
	width: 3500px;
	height: 3500px;
	position: absolute;
	z-index: 10000;
	top: 0px;
	left: 0px;
	background-color: #2f2f2f;
	overflow: visible;
	display: none;
}

#loadingImage64 {
	top: 70px;
	width: 250px;
	height: 250px;
	position: absolute;
	z-index: 200000;
	margin-left: 25px;
	margin-right: auto;
	background-color: #2f2f2f;
}
.brand span{
	top: 1px;
	color: #FF0000;
}
